/* Inspired by Google and Flickr. [Jon Aquino 2005-06-04] */

body {
  font: 12px Arial, Helvetica, sans-serif;
}
img {
  border: 0px;
}
.footer {
  padding: 10px;
  margin-top: 50px;
  font-size: 11px;
  background: #f3f3f3;
}
td {
  vertical-align:top;
  /* Align left; otherwise centred in IE. [Jon Aquino 2005-06-04] */
  text-align: left;
}
.hint {
  font-size: 11px;
  color: #666
}
.muted {
  color: #666
}
.message {
  font-size: 14px;
  text-align: center;
  padding: 10px;
  background: #f3f3f3;
}
.warning {
  font-size: 14px;
  text-align: center;
  padding: 10px;
  background: #ffff99;
}
h1 {
  font: bold 22px Arial, Helvetica, sans-serif;
}
h2 {
  font: bold 16px Arial, Helvetica, sans-serif;
  padding-top: 15px
}
div.done li {
  text-decoration: line-through;
}
.blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  color: #666;
}
pre {
  /* Suggested by Eliazar [Jon Aquino 2006-01-31] */
  white-space:-moz-pre-wrap
}
div#golden_egg_graphic {
  width: 171px;
  float: right;
  font-size: 0.9em;
  text-align: right;
  font-style: italic;
  color: #999;
}
div#golden_egg_graphic p {
  padding-right: 20px;
}
div#golden_egg_graphic p a,
div#golden_egg_graphic p a.link,
div#golden_egg_graphic p a.visited,
div#golden_egg_graphic p a.hover,
div#golden_egg_graphic p a.active {
  color: #999;
}
