<html>
<head>
<script type='text/javascript'>
<!--
// Code from "Close current window (for IE and FF)" by ms_michael
// http://www.bigbold.com/snippets/posts/show/267
// [Jon Aquino 2005-08-07]
function CloseWindow() {
	ww = window.open(window.location, "_top");
	ww.close();
} 
-->
</script>
</head>
<body onLoad="CloseWindow()"></body>
</html>