<HTML>
<HEAD>
</HEAD>
<% 
def percentages n
  ("#{100/n}%,"*n).chop
end
%>
<FRAMESET ROWS="<%= percentages(@rows.size) %>">
  <% @rows.each do |row| %>
    <FRAMESET COLS="<%= percentages(row.size) %>">
      <% row.each do |column| %>
        <FRAME SRC="<%= column %>">
      <% end %>
    </FRAMESET>
  <% end %>
</FRAMESET>
</HTML> 