{{> app/views/shared/header.mustache }}
{{> app/views/shared/heading.mustache }}
{{^searching}}
  <div class="hint">
      <span style="color:red">Tip:</span> For a list of particularly interesting Yubnub commands, check out
      <a class="hint" href="/parser/parse?command=ge">Yubnub Golden Eggs</a>.
      Also see the <a class="hint" href="/kernel/most_used_commands">Most-Used Commands</a>.
  </div>
  <div class="hint">
      <span style="color:red">Tip:</span> You can search the descriptions by typing "ls [word or phrase]". For example, to search for all commands about music,
      type "ls music".
  </div>
{{/searching}}
{{> app/views/shared/commandList.mustache }}
{{> app/views/shared/footer.mustache }}
