{{> app/views/shared/header.mustache }}
{{> app/views/shared/heading.mustache }}
{{#command}}
    {{#goldenEggDate}}
        <div class="hint">(This command has been awarded a <a class="hint" href="/parser/parse?command=ge">Yubnub Golden Egg</a>)</div>
        <br />
    {{/goldenEggDate}}
    <span class="muted">{{getDisplayUrl}}</span><br />
    <pre>
{{description}}
    </pre>
    <div class="hint" style="padding-top: 30px">
        {{uses}} uses
        -
        Created {{creationDate}}
        -
        Last used
        {{#lastUseDate}}{{lastUseDate}}{{/lastUseDate}}
        {{^lastUseDate}}{{creationDate}}{{/lastUseDate}}
    </div>
    <div class="hint" style="padding-top:15px">Is this command broken? <a class="hint" href="mailto:jon@yubnub.org?subject=Yubnub - Broken Command: {{getRawurlencodedName}}&body=Hey Jon, this command is broken: {{getRawurlencodedName}}. Please change the URL to: PUT NEW URL HERE">
    Tell Jon if you know how to fix it</a>.</div>
    {{^goldenEggDate}}
      <div class="hint">Do you find this command offensive? <a class="hint" href="mailto:jon@yubnub.org?subject=Yubnub - I find this command offensive: {{getRawurlencodedName}}&body=Jon, please review this command: {{getRawurlencodedName}}">
      Let Jon know</a>.</div>
    {{/goldenEggDate}}
{{/command}}
{{> app/views/shared/footer.mustache }}
