{{> app/views/shared/header.mustache }}
{{> app/views/shared/heading.mustache }}
Here are the most-used Yubnub commands of all time. The counting began on
June 29, 2005.<br />
<br />
{{> app/views/shared/commandList.mustache }}
{{> app/views/shared/footer.mustache }}
