No manual entry for <%=h @command_name%>. <br />
To search for "<%=h @command_name%>", try typing
<%= link_to_unless_current("ls #{@command_name}", :controller => 'parser', :action => 'parse', :command => "ls #{@command_name}") %>.
