<%= start_form_tag({:controller => 'parser', :action => 'parse'}, {:method => 'get', :name => 'input_box'}) %>
  <input type="text" name="command" size="<%= size %>" value="<%= @params['command'] %>"/>
  <input type="submit" value="Enter" />
<%= end_form_tag %>