<br />
{{#commands}}
  <span style="font-size:16px;font-weight:bold">{{name}}</span>
  {{#goldenEggDate}}
    {{#showGoldenEggLabels}}
        <span style="color:red">(<a class="hint" style="color:red" href="/parser/parse?command=ge">Golden Egg</a>)</span>
    {{/showGoldenEggLabels}}
  {{/goldenEggDate}}
  <br />
  {{getDescriptionExcerpt}}<br />
  <span class="hint">
  {{uses}} uses
  -
  Created {{creationDate}}
  -
  Last used
  {{#lastUseDate}}{{lastUseDate}}{{/lastUseDate}}
  {{^lastUseDate}}{{creationDate}}{{/lastUseDate}}
  -
  </span>
  {{^goldenEggDate}}
    <span class="nominate hint"><a class="hint" href="mailto:jon@yubnub.org?subject=Nomination for a Yubnub Golden Egg: {{getRawurlencodedName}}&body=Hey Jon, there's a great command that I want to see on the Golden Egg list: {{getRawurlencodedName}}">
    Nominate</a> - </span>
  {{/goldenEggDate}}
  <a href="/kernel/man?args={{getRawurlencodedName}}" class="description hint">Description</a>
  -
  <span class="implementation hint">{{getDisplayUrl}}</span><br />
  <br />
{{/commands}}
{{#previousPageUrl}}
<a href="{{.}}" style="padding-top:30px; padding-right: 15px; font-size:22px"><b>Previous Page</b></a>
{{/previousPageUrl}}
{{#nextPageUrl}}
<a href="{{.}}" style="padding-top:30px; font-size:22px"><b>Next Page</b></a>
{{/nextPageUrl}}

