<center>
<div class="footer">
  <a href="http://jonaquino.blogspot.com/2005/06/yubnub-my-entry-for-rails-day-24-hour.html">What Is This Thing?</a> |
  <a href="/parser/parse?command=ls">List All Commands (ls)</a> |
  <a href="/parser/parse?command=create">Create a New Command</a> |
  <a href="/documentation/describe_installation">Installing Yubnub</a> |
  <a href="/documentation/describe_advanced_syntax">Advanced Syntax</a>
  <br />
  <a href="/kernel/most_used_commands">Most-Used Commands</a> |
  <a href="/parser/parse?command=ge">Golden Eggs (Notable Commands)</a> |
  <a href="/documentation/jeremys_picks">Jeremy's Picks</a> |
  <a href="/documentation/tip_jar">Leave a Tip ♥</a>
  <br />
  <a href="http://groups.google.com/group/YubNub">Community (Google Group)</a> |
  <a href="http://www.editthis.info/yubnub/">Wiki</a> |
  <a href="http://blog.yubnub.org/">Yubnub Blog</a> |
  <a href="https://github.com/JonathanAquino/yubnub">Source Code</a> |
  <a href="/documentation/display_acknowledgements">Acknowledgements</a> |
  <a href="mailto:jon@yubnub.org">Typos? Spam? Contact Jon</a>
</div>
</center>
</body>
</html>


