<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="search" type="application/opensearchdescription+xml" title="Yubnub" href="http://yubnub.org/opensearch.xml" />
  {{#pageTitle}}<title>{{.}} - Yubnub</title>{{/pageTitle}}
  {{^pageTitle}}<title>Yubnub</title>{{/pageTitle}}
  <link rel="stylesheet" href="/stylesheets/yubnub.css" type="text/css" />
  <script type="text/javascript">
    function focus() {
        if (document.input_box) {
            document.input_box.command.focus();
        }
    }
  </script>
</head>
<body onload="focus()">
<div style="background-color: #fffacd; border-bottom: 2px solid #ffa500; padding: 10px; text-align: center; font-weight: bold;">
  ⚠️ YubNub is being upgraded to a new server. You may see SSL/HTTPS warnings during the transition. This is expected and temporary.
</div>
