<table>
  <tr>
    <td style="vertical-align:bottom;"><a href="/"><img src="/images/yubnub_small.png"/></a></td>
    <td style="vertical-align:bottom;">
      <div class="hint">Type in a command, or "ls dictionary" to search all commands for "dictionary", etc.</div>
      <form action="/parser/parse" method="get" name="input_box">
        <input type="text" name="command" size="25" />
        <input type="submit" value="Enter" />
      </form>
    </td>
  </tr>
</table>
<div style="border-top: 1px dotted #B8B8B8;">
<h1>{{ @page_title }}</h1>
