{{> app/views/shared/header.mustache }}
{{> app/views/shared/heading.mustache }}
<div class="warning" style="margin-bottom:15px">
    Ahoy! This page has been superseded by the <a href="http://yubnub.blogspot.com/">YubNub Blog</a>.
</div>

YubNub's goal is to be the definitive command-line operating system for the internet.
I've got lots of ideas to make YubNub better -- if you want to suggest improvements,
leave a comment on my
<a href="http://jonaquino.blogspot.com/2005/06/yubnub-my-entry-for-rails-day-24-hour.html">YubNub blog post</a>.<br />
<br />

Here are some future enhancements that I would like to do:
<ul>
<li>Pipes, like: gim "porsche 911" | htmltidy | upload_to_flickr</li>
<li>Allow descriptions to be edited. Maybe keep a history of edits, just in case. But don't let the URL be edited -- that's etched in stone (unless you send me an email - I'll provide a "Request Edit" button for this).</li>
<li>Great idea from Sean O'Hagan: Make a script to do screen scraping to
produce custom output rather than the whole HTML (somebody write a PHP or
other script to do this! And someone with a lot of bandwidth please host it!
Or I guess I could host it.)</li>
<li>Leandro Ardissone suggested allowing people to post comments for each command.</li>
<li>Leandro also suggested "aliases" for commands e.g. for the gim command you could make aliases called
gi, googleimages, and gimage</li>
<li>Vaughn recommended an automated Craigslist-like "spam" vote. After a certain number of votes, the command
will be disabled</li>
<li>Mat Balez and W. Van Hooste have both suggested auto-recognizing abbreviated switches. For example,
"xe -amount 100 -from USD -to EUR" could also be entered as "xe -a 100 -f USD -t EUR".</li>
</ul>

And some minor things:
<ul>
<li>Track which commands get used the most, and which haven't been used in a while.</li>
<li>Set focus properly on command/new screen (either the Command or URL text field).</li>
<li>Nightly backups</li>
</ul>

Stuff that's done:
<div class="done">
<ul>
<li>Report Spam button. Gotta deal with those infamous spammers. (And of course a "Not Spam" button, if someone is being mean).</li>
<li>Use flash.now for the "buckeroo" message. Just because.</li>
<li>Display times as well as dates on ls screen</li>
<li>Put links on the ls page for sorting in various ways, and hiding spam.</li>
<li>On front page, change title from http://yubnub.org to YubNub (thanks <a href="http://saqataq.us/rubyonrails/ror.log.20050605">ichigo</a>)</li>
<li>Instructions for installing YubNub in your browser address bar. The ultimate YubNub experience!</li>
<li>Idea from <a href="http://saqataq.us/rubyonrails/ror.log.20050605">Jomdom</a>: Firefox search plugin</li>
<li>Idea from <a href="http://saqataq.us/rubyonrails/ror.log.20050605">tr5</a>: accessing YubNub from the browser address bar</li>
<li>Text-to-speech (tts) command, using the <a href="http://www.research.att.com/projects/tts/demo.html">amazing 30-word demo</a> from AT&T research.</li>
<li>Somebody write a translation command! (e.g. tr en_to_fr You have beautiful eyes)</li>
<li>If person does not type in any parameters, set %s to blank rather than giving an error.</li>
<li>Friendlier error if you try to create a command that already exists.</li>
<li>Search - for example "ls dictionary" (thanks to John Gilman for the syntax)</li>
<li><a href="/documentation/describe_advanced_syntax">Syntax for converting spaces to %20</a> instead of + signs (thanks to C Callosum for the suggestion)</li>
<li>Search descriptions ("search", "apropos", "man -k"). (Thanks Brett!)</li>
<li>Idea from <a href="http://saqataq.us/rubyonrails/ror.log.20050605">carrot</a>,
<a href="http://jonaquino.blogspot.com/2005/06/yubnub-my-entry-for-rails-day-24-hour.html#c111810096005674317">Bill</a>
: "yubnub" command for Linux and other operating systems (could just call lynx, I suppose)</li>
<li>RSS feed (thanks <a href="http://blog.360.yahoo.com/chicagosage">Brian</a>!) (Done for YubNub Golden Eggs,
thanks to prodding by James Brunskill!)</li>
<li>Allow multiple parameters by specifying %s multiple times. (Thanks Iain!). <b>Update:</b> We've got
<a href="/documentation/describe_advanced_syntax">multiple parameters</a> now!</li>
<li>Paul Webb had the idea of letting admins remove the "Mark as spam" link for commands that we know are good.
<li>shanabak suggested making YubNub do POSTs in addition to GETs <b>Update:</b> Sean O'Hagan has come up with a
<a href="/documentation/describe_advanced_syntax">way to do this</a>.</li>
<li>Paginate the ls output, as the command list might get pretty long.</li>
<li>Include link to read-only access to source code in Subversion.
<b>Update:</b> <a href="https://github.com/JonathanAquino/yubnub">Get it.</a></li>
</ul>
</div>

{{> app/views/shared/footer.mustache }}
