{{> app/views/shared/header.mustache }}
{{> app/views/shared/heading.mustache }}
Since the day I released Yubnub on June 5, 2005, there have been a
bunch of people who have helped to make Yubnub better. I want to
publicly acknowledge them here.
<ul>
<li>The people mentioned on the
<a href="/documentation/describe_installation">Installing Yubnub</a>
and <a href="/documentation/describe_upcoming_features">Upcoming Features</a>
pages.</li>
<li>Igor Krizanovskij for drawing the <a href="http://commons.wikimedia.org/wiki/Image:SCN1B.jpg">graphic</a> that became the Yubnub logo.</li>
<li>Randy Stauner for his off-site spam-detector that helped when Yubnub started to become popular.</li>
<li>John Gilman for designing the Popular Searches section on the <a href="/">front page</a>.</li>
<li>Kevin Dern for selecting the commands for the Popular Searches section.</li>
<li>Jason Hoffman, President of <a href="http://textdrive.com">TextDrive</a> (the official Ruby on Rails web host)
for sponsoring Yubnub by putting it on a
<a href="http://weblog.textdrive.com/article/111/yubnub">faster setup</a> (the "Jason Special").</li>
<li>Oliver Horn for suggesting "Report spam" links.</li>
<li><a href="http://blog.360.yahoo.com/chicagosage">Brian</a> for his suggestion about putting "Yubnub.org" in the title,
to make bookmark titles more descriptive.</li>
<li>Leen Kievit for suggesting that Yubnub auto-prefix urls with "http://" if it is missing.</li>
<li>Anonymous for <a href="http://jonaquino.blogspot.com/2005/06/yubnub-my-entry-for-rails-day-24-hour.html#c111963942896725182">recommending</a> that Yubnub have its own <a href="http://groups-beta.google.com/group/YubNub">forum</a></li>
<li>Jeremy Hussell for suggesting the <a href="/kernel/most_used_commands">Most-Used Commands</a> page,
the Test section of the <a href="/parser/parse?command=create">create</a> page,
the <a href="/parser/parse?command=man+url">url</a> command,
and especially for his <a href="/documentation/jeremys_picks">Jeremy's Picks page</a> documenting the best Yubnub commands.</li>
<li>Joshua H. for investigating how some commands that use [post] must use "&amp;" instead of "?"</li>
<li>Dinesh Govindaraju for the idea of sorting search results by popularity</li>
<li>Michael Pacchioli for prototyping a Google-Suggest-like autocompletion feature for Yubnub</li>
</ul>
If you don't see your name listed here or on one of the other pages mentioned above,
<a href="mailto:jon@yubnub.org">remind me</a> about how you helped out
and I will add your name.
{{> app/views/shared/footer.mustache }}
