{{> app/views/shared/header.mustache }}
{{> app/views/shared/heading.mustache }}
<p>Do you use Yubnub a lot and want to leave a tip for Jon? You can do that right here.</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="jona@jona.ca">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="Enter a tip for Jon.">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-BuyNowBF:tipJar.png:NonHostedGuest">
<input type="image" src="http://yubnub.org/images/tipJar.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<p>Thank you! This helps us to pay for our web hosting.</p>
{{> app/views/shared/footer.mustache }}
